php_value memory_limit 128M
<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
# BEGIN heteml
# 注意:
# このブロックはヘテムルのコントロールパネルによって作成されました。
# # BEGIN heteml 〜 # END heteml は編集を行わないようにご注意ください。

AuthUserFile /home/sites/heteml/users/s/u/p/supernova/web/10/.htpasswd
AuthGroupFile /dev/null
AuthName "supernova"
AuthType Basic
require valid-user
# END heteml
